{% assign imageList =
'alvan-nee-eoqnr8ikwFE-unsplash,charles-deluvio-K4mSJ7kc0As-unsplash,richard-brutyo-Sg3XwuEpybU-unsplash'
| split: ',' %}
{% assign productCollection = collections['all'] %}
{% assign
imageIndex = 0%}

<div class="hero-image">
    <h1>DESTROY SOUBOUTEI</h1>
</div>

<div class="home-first-images">
    {% for productImage in productCollection.products %}
        <div class="home-image home-div-background{{imageIndex | plus: 1}}">
            <img class="product-home image{{imageIndex | plus: 1}}" src={{productImage | img_url: 'medium'}}/>
        </div>
        {% assign imageIndex = imageIndex | plus: 1%}
    {% endfor %}
</div>
